<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>内置模块</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
	                             <div class="panel panel-default">
									<div class="panel-heading">
									   <h5 class="panel-title">
										   <a data-toggle="collapse" data-parent="#version" href="#v1">v1.0.0</a><code class="pull-right">2019.03.25</code>
									   </h5>
									</div>
									<div id="v1" class="panel-collapse collapse in">
										<div class="panel-body">
										   <ol>
												<li>用户管理：用户是系统操作者，该功能主要完成系统用户配置。</li>
												<li>部门管理：配置系统组织机构（公司、部门、小组），树结构展现支持数据权限。</li>
												<li>岗位管理：配置系统用户所属担任职务。</li>
												<li>菜单管理：配置系统菜单，操作权限，按钮权限标识等。</li>
												<li>角色管理：角色菜单权限分配、设置角色按机构进行数据范围权限划分。</li>
												<li>字典管理：对系统中经常使用的一些较为固定的数据进行维护。</li>
												<li>参数管理：对系统动态配置常用参数。</li>
												<li>通知公告：系统通知公告信息发布维护。</li>
												<li>操作日志：系统正常操作日志记录和查询；系统异常信息日志记录和查询。</li>
												<li>登录日志：系统登录日志记录查询包含登录异常。</li>
												<li>在线用户：当前系统中活跃用户状态监控。</li>
												<li>定时任务：在线（添加、修改、删除)任务调度包含执行结果日志。</li>
												<li>系统接口：根据业务代码自动生成相关的API接口文档。</li>
												<li>服务监控：监视当前系统CPU、内存、磁盘、堆栈等相关信息。</li>
												<li>连接池监视：监视当前系统数据库连接池状态，可进行分析SQL找出系统性能瓶颈。</li>
											</ol>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.ak1ak1.com" target="_blank">http://www.ak1ak1.com</a></p>
                        <p><i class="fa fa-qq"></i> QQ群：<s></s></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="ibox float-e-margins">
	            	<div class="ibox-title">
	            		<h5>技术选型：</h5>
	            	</div>
	            	<div class="ibox-content">
			            <ol>
			                <li>核心框架：Spring Boot</li>
			                <li>安全框架：Apache Shiro</li>
			                <li>模板引擎：Thymeleaf</li>
			                <li>持久层框架：MyBatis</li>
							<li>定时任务：Quartz</li>
			                <li>数据库连接池：Druid</li>
			                <li>其他：Lombok、Fastjson等</li>
			            </ol>
			         </div>
		        </div>
	        </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>
