<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ak.visualization.mapper.CustomerMapper">
    
    <!-- /**  终端客户总数  **/ -->
    <select id="getCustomerCount" resultType="Long">
		  select count( distinct a.customid )  from _pub_customer a
		  <if test="provinceId != null and provinceId != ''">
		 		left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				where p.provinceid  = #{provinceId}
		  </if>
	</select>
    
    <!-- /**  上个月增长数据量  **/ -->
    <select id="getCustomerAddLastMonth" resultType="Long">
		  select count( distinct a.customid )  from _pub_customer a
		  <if test="provinceId != null and provinceId != ''">
		 		left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
		  </if>
		  where period_diff( date_format( now( ) , '%y%m' ) , date_format( a.credate, '%y%m' ) ) = 1
		  <if test="provinceId != null and provinceId != ''">
		 		and p.provinceid  = #{provinceId}
		  </if>
	</select>
	
	<!-- /**  订单总数  **/ -->
	<select id="getOrderCount" resultType="Long">
		  select count(sa.salesid) total from _bms_sa_doc sa
		  <if test="provinceId != null and provinceId != ''">
		 		left join _pub_customer a on a.customid = sa.customid
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				where p.provinceid  = #{provinceId}
		  </if>
	</select>
  
	<!-- /**  订单总金额  **/ -->
	<select id="getOrderSum" resultType="Long">
		    select sum(sa.total) total from _bms_sa_doc sa
		    <if test="provinceId != null and provinceId != ''">
		 		left join _pub_customer a on a.customid = sa.customid
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				where p.provinceid  = #{provinceId}
		  </if>
	</select>

	<!-- /**  终端出售商品总数量  **/ -->
	<select id="getGoodsCount" resultType="Long">
		    select count( goodsid ) goodnumber from _bms_sa_dtl d
		    <if test="provinceId != null and provinceId != ''">
		    	left join _bms_sa_doc sa on sa.salesid = d.salesid
		 		left join _pub_customer a on a.customid = sa.customid
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				where p.provinceid  = #{provinceId}
		  </if>
	</select>
	
	<!-- /**  根据省份ID获取市  **/ -->
	<select id="getCityByProvinceId" resultType="java.util.HashMap">
		select count(a.customid) as total, c.cityid, c.cityname from _pub_customer a 
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				where p.provinceid is not null and p.provinceid = #{provinceId}
				group by c.cityid, c.cityname
	</select>
	
	<!-- /**  终端客户类型分布  **/ -->
	<select id="getCustomerType" resultType="java.util.HashMap">
			select count(a.customertype) as total, ct.value from _pub_customer a  left join _pub_customer_type ct
			on a.customertype = ct.key 
			 <if test="provinceId != null and provinceId != ''">
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
		  </if>
			where a.customertype is not null group by a.customertype, ct.value
			 <if test="provinceId != null and provinceId != ''">
				and p.provinceid  = #{provinceId}
		  </if>
	</select>
	
	
	<!-- /**  实时交易情况更新  **/ -->
	<select id="getSalesNew10" resultType="java.util.HashMap">
			select sa.customname, 	sa.total, date_format( sa.credate, '%Y-%m-%d' ) as createDate from _bms_sa_doc sa
				left join _bms_tr_pos_def tpd on sa.targetposid = tpd.tranposid 
				left join _pub_customer a on a.customid = sa.customid
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				left join _pub_country co on a.countryid = co.countryid
				order by sa.credate desc limit 10
	</select>
	
	<!-- /**  上一年成交量Top5的終端客戶  **/ -->
	<select id="getSalesTop5" resultType="java.util.HashMap">
			select sum(sa.total) as total, sa.customname from _bms_sa_doc sa
				where sa.credate &gt;= #{beginDate} and sa.credate &lt; #{endDate}
				group by sa.customname order by sum(sa.total) desc limit 5
	</select>
	
	
	<!-- /**  各省份终端数  **/ -->
	<select id="getProvinceCustom" resultType="java.util.HashMap">
		   select count(a.customid) as total, 	p.provinceid, p.provincename from _pub_customer a 
				left join _pub_city c  on a.cityid = c.cityid
				left join _pub_province p on c.provinceid = p.provinceid
				where p.provinceid is not null
				group by p.provincename, p.provinceid
				<if test="top != null and top > 0">
					order by count(a.customid) desc limit #{top}
				</if>
	</select>
	
</mapper>